.DS_Store
# Thumbnails
._*

# ignore compiled byte code
target

# ignore output files from testing
output*

# ignore standard eclipse
.project
.classpath
.settings

# Created by https://www.gitignore.io

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
#
*.iml
#
## Directory-based project format:
.idea/
